.selected-month {
  margin: 4rem 0 2rem 0;
}

.column {
  display: inline-block;
  background-color: #eeecec;
  margin: 0 0.3rem;
  flex-direction: row;
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.schedules {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 60px;
  overflow-y: auto;
}

.schedules::-webkit-scrollbar {
  width: 10px;
}

.schedules::-webkit-scrollbar-thumb {
  background-color: #606060;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.schedules::-webkit-scrollbar-track {
  background-color: #cecece;
  border-radius: 8px;
}

.row {
  display: flex;
  margin: 0.3rem auto;
  width: fit-content;
  height: fit-content;
}

.date {
  margin: 0.4rem auto;
  font: inherit;
  padding-bottom: 0.1rem;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f4d31a;
  color: #713590;
  font-weight: 1000;
}

.today {
  background-color: #f45f1a;
}
