.diet {
    width: 25rem;
}

.diet p {
    font-weight: 500;
}

.diet input {
    font:inherit;
    display:block;
    width: 90%;
    margin: 1rem auto;
}


 .type {
    font-size: 1.1rem;
    background-color: #67a0a06b;
    font-weight: 700;
}