.diet {
    width: 25rem;
}

.diet p {
    font-weight: 500;
}

.diet input {
    font:inherit;
    display:block;
    width: 90%;
    margin: 1rem auto;
    padding: 0.2rem 0.4rem;
}


.submit-btn {
    margin: 0 auto;
    display: block;
    border: 1px solid #a992f6;
    background-color: #a992f6;
    border-radius: 4px;
    font: inherit;
    font-weight: bold;
    color: #323232;
    padding: 0.2rem 0.4rem;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  }
  
  .submit-btn:hover,
  .submit-btn:active {
    cursor: pointer;
    border: 1px solid #947de0;
    background-color: #947de0;
  }
  


 .type {
    font-size: 1.1rem;
    background-color: #67a0a06b;
    font-weight: 700;
}